@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.logo-img {
    position: absolute;
    width: 170px;
    height: 161px;
    opacity: 0.5;
}

#lg1 {
    right: 65px;
    top: 150px;
}

#lg2 {
    right: 65px;
    top: 780px;
}

#lg3 {
    left: 65px;
    top: 150px;
}

#lg4 {
    left: 65px;
    top: 780px;
}

.navbar {
    position: absolute;
    width: 1920px;
    height: 70px;
    left: 0;
    top: 0;
    background: #fea500;
}

.form-box {
    background-color: #42BEB8;
    position: absolute;
    top: 380px;
    left: 821px;
    width: 283px;
    height: 300px;
    border-radius: 20px;
}

.field {
    padding: 5px;
    margin: 7px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    position: absolute;
    left: 5px;
}

#user {
    top: 23px;
}

#pass {
    top: 80px;
}

.log-btn {
    position: absolute;
    top: 171px;
    left: 108px;
    background-color: #fea500;
    transition: ease-out 0.4s;
    cursor: pointer;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    color: #154476;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
}

.log-btn:hover {
    background-color: #154476;
    color: white;
}

.state {
    position: absolute;
    top: 221px;
    left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.header {
    position: absolute;
    width: 446px;
    height: 71px;
    left: 22px;
    top: -2px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#eye {
    position: absolute;
    top: 98px;
    left: 242px;
}
