.contact-head {
    background-color: #fea500;
    color: black;
    font-family: Source Sans Pro;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    width: 30%;
    left: 650px;
    top: 50px;
    border-radius: 50px;
    padding: 25px;
    align-items: center;
    text-align: center;
}

.contact-box {
    position: relative;
    width: 585px;
    height: 587px;
    left: 660px;
    top: 93px;
    /* background: #FCE08E; */
    border-radius: 51px;
    font-family: Source Sans Pro;
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding: 5px;
    background: linear-gradient(145deg, #e3ca80, #fff098);
    box-shadow:  6px 6px 33px #cfb874,
             -6px -6px 33px #ffffa8;
    transition: ease-out 0.4s;
}
