@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.logo-img {
    position: absolute;
    width: 170px;
    height: 161px;
    opacity: 0.5;
}

#lg1 {
    right: 65px;
    top: 150px;
}

#lg2 {
    right: 65px;
    top: 780px;
}

#lg3 {
    left: 65px;
    top: 150px;
}

#lg4 {
    left: 65px;
    top: 780px;
}

.navbar {
    position: relative;
    top: -8px;
    left: -8px;
    width: 1920px;
    height: 70px;
    background: #fea500;
    overflow: hidden;
}

.btn-links {
    position: absolute;
    top: 10px;
    right: 0px;
}

.btn-links a {
    text-decoration: none;
    color: #154476;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    padding-right: 15px;
    font-size: 28px;
    display: block;
    float: left;
}

.login {
    transition: ease-in-out 0.2s;
}

.login:hover {
    color: white;
}

.signup {
    transition: ease-in-out 0.4s;
}

.signup:hover {
    color: white;
}

.large-btns {
    background-color: #fea500;
    position: relative;
    width: 1120px;
    height: 107px;
    left: 322px;
    top: 205px;
    margin: 50px;
    border-radius: 27px;
    cursor: pointer;
    text-align: center;
}

.large-btns:hover {
    background-color: #154476;
}

.post1 {
    position: relative;
    /* width: 915px;
    height: 74px;
    left: 406px;
    top: 16px; */
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
    color: #FCE08E;
    text-decoration: none;
}

.rem-line {
    text-decoration: none;
}

#post2 {
    left: 363px;
}

#post3 {
    left: 443px;
}

.header {
    position: absolute;
    width: 446px;
    height: 71px;
    left: 22px;
    top: -2px;
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 480px) {
    .header {
        position: absolute;
        left: 10px;
        top: -10px;
        font-size: 20px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .navbar {
        width: 105%;
        height: 50px;
    }
    .logo-img {
        width: 0px;
        height: 0px;
       /*  display: none; */
    }
    .btn-links{
        position: relative;
        float: right;
        top: -3px;
    }
    .btn-links a{
        font-size: 15px;
        margin: none;
        padding-right: 8px;
    }
    .large-btns {
        width: 80%;
        height: 40px;
        top: 5px;
        left: 3px;
        margin: 30px;
    }
    .post1 {
        position: relative;
        left: 0px;
        top: -11px;
        font-size: 13px;
    }
    #post2 {
        left: 0px;
    }
    #post3 {
        left: 0px;
    }
}

@media (min-width: 481px) and (max-width: 780px) {
    .header {
        position: absolute;
        left: 10px;
        top: -10px;
        font-size: 20px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
    .navbar {
        width: 100%;
        height: 50px;
    }
    .logo-img {
        width: 0px;
        height: 0px;
    }
    .btn-links{
        position: relative;
        float: right;
        top: -3px;
    }
    .btn-links a{
        font-size: 18px;
        margin: none;
        padding-right: 8px;
    }
    .large-btns {
        width: 80%;
        height: 64px;
        top: 22px;
        left: 43px;
        margin: 30px;
        font-size: 18px;
    }
    .post1 {
        position: relative;
        left: 0px;
        top: 0px;
        font-size: 18px;
    }
    #post2 {
        left: 0px;
    }
    #post3 {
        left: 0px;
    }
}

@media (min-width: 781px) and (max-width: 1024px) {
    .header {
        position: absolute;
        left: 18px;
        top: 0px;
        font-size: 48px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
    .navbar {
        width: 100%;
        height: 70px;
    }
    .logo-img {
        width: 170px;
        height: 161px;
    }
    .btn-links{
        position: relative;
        float: right;
        top: 3px;
    }
    .btn-links a{
        font-size: 28px;
        margin: none;
        padding-right: 10px;
    }
    .large-btns {
        position: relative;
        width: 65%;
        height: 90px;
        top: 226px;
        left: 128px;
    }
    .post1 {
        position: relative;
        left: 0px;
        top: 12px;
        font-size: 40px;
    }
    #post2 {
        left: 0px;
    }
    #post3 {
        left: 0px;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {    
    .header {
        position: absolute;
        left: 18px;
        top: 0px;
        font-size: 48px;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
    .navbar {
        width: 100%;
        height: 70px;
    }
    .logo-img {
        width: 170px;
        height: 161px;
    }
    .btn-links{
        position: relative;
        float: right;
        top: 3px;
    }
    .btn-links a{
        font-size: 28px;
        margin: none;
        padding-right: 10px;
    }
    .large-btns {
        position: relative;
        width: 70%;
        height: 90px;
        top: 226px;
        left: 189px;
    }
    .post1 {
        position: relative;
        left: 0px;
        top: 12px;
        font-size: 40px;
    }
    #post2 {
        left: 0px;
    }
    #post3 {
        left: 0px;
    }
}

@media (min-width: 1441px) and (max-width: 1920px) {
    .logo-img {
        position: absolute;
        width: 170px;
        height: 161px;
        opacity: 0.5;
    }
    
    #lg1 {
        right: 65px;
        top: 150px;
    }
    
    #lg2 {
        right: 65px;
        top: 780px;
    }
    
    #lg3 {
        left: 65px;
        top: 150px;
    }
    
    #lg4 {
        left: 65px;
        top: 780px;
    }
    
    .navbar {
        position: relative;
        top: -8px;
        left: -2px;
        width: 1913px;
        height: 70px;
        background: #fea500;
    }
    
    .btn-links {
        position: absolute;
        top: 10px;
        right: 0px;
    }
    
    .btn-links a {
        text-decoration: none;
        color: #154476;
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: 60px;
        padding-right: 15px;
        font-size: 28px;
        display: block;
        float: left;
    }
    
    .login {
        transition: ease-in-out 0.2s;
    }
    
    .login:hover {
        color: white;
    }
    
    .signup {
        transition: ease-in-out 0.4s;
    }
    
    .signup:hover {
        color: white;
    }
    
    .large-btns {
        background-color: #fea500;
        /* position: absolute; */
        position: relative;
        width: 1120px;
        height: 107px;
        left: 350px;
        top: 205px;
        margin: 50px;
        border-radius: 27px;
        cursor: pointer;
    }
    
    .large-btns:hover {
        background-color: #154476;
    }
    
    /* #btn2 {
        top: 510px;
    }
    #btn3 {
        top: 679px;
    } */
    
    .post1 {
        position: relative;
        width: 915px;
        height: 74px;
        left: 406px;
        top: 16px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        color: #FCE08E;
        text-decoration: none;
    }
    
    .rem-line {
        text-decoration: none;
    }
    
    #post2 {
        left: 363px;
    }
    
    #post3 {
        left: 443px;
    }
    
    .header {
        position: absolute;
        width: 446px;
        height: 71px;
        left: 22px;
        top: -2px;
        cursor: pointer;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: black;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}