.query-head {
    position: relative;
    width: 841px;
    height: 82px;
    left: 530px;
    top: 45px;
    background: #FEA500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
}

.y-query {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    position: absolute;
    height: 63px;
    left: 299px;
    top: 10px;
}

.query-search {
    position: absolute;
    top: 220px;
    left: 810px;
    width: 300px;
    font-size: 18px;
    font-family: Source Sans Pro;
    padding-inline: 5px;
    border-radius: 10px;
}

.query-search::after {
    background: #fce08e;
}

.query {
    position: relative;
    top: 76px;
    left: 550px;
    background-color: #fce08e;
    width: 750px;
    font-family: Source Sans Pro;
    font-size: 25px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    overflow-y: hidden;
}

.query-reply {
    position: relative;
    top: 76px;
    left: 550px;
    background-color: #154476;
    color: white;
    width: 750px;
    font-family: Source Sans Pro;
    font-size: 25px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
}

@media screen and (max-width: 480px) {
    .query-head {
        position: relative;
        width: 100%;
        height: 49px;
        left: 0;
        top: 0;
    }
    .query-search {
        position: relative;
        /*display: flex;
        flex-direction: column;*/
        font-size: 13px;
        width: 70%;
        height: 80%;
        top: 10px;
        left: 40px;
    }
    .query {
        position: relative;
        font-size: 13px;
        width: 90%;
        left: 0;
        top: 0;
        overflow: none;
    }
    .query-reply {
        position: relative;
        font-size: 13px;
        width: 90%;
        left: 0;
        top: 0;
    }
    .y-query {
        position: relative;
        left: 119px;
        top: -6px;
        font-size: 21px;
    }
}