.query-head {
    position: relative;
    width: 841px;
    height: 82px;
    left: 530px;
    top: 45px;
    background: #FEA500;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    display: inline-block;
    vertical-align: middle;
}

.y-query {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    position: absolute;
    height: 63px;
    left: 299px;
    top: 10px;
    text-align: center;
}

.query-search {
    position: absolute;
    top: 220px;
    left: 810px;
    width: 300px;
    font-size: 18px;
    font-family: Source Sans Pro;
    padding-inline: 5px;
    border-radius: 10px;
}

.query-search::after {
    background: #fce08e;
}

.query {
    position: relative;
    top: 87px;
    left: 580px;
    background-color: #fce08e;
    width: 750px;
    font-family: Source Sans Pro;
    font-size: 25px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    overflow: hidden;
}

.query-reply {
    position: relative;
    top: 87px;
    left: 580px;
    background-color: #154476;
    color: white;
    width: 750px;
    font-family: Source Sans Pro;
    font-size: 25px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    overflow: hidden;
}

.timestamp {
    position: relative;
    top: 87px;
    font-family: Source Sans Pro;
    font-size: 18px;
    color: gray;
    width: 160px;
    overflow-x: hidden;
}

#q-time {
    left: 585px;
}
#r-time {
    left: 1168px;
}

@media screen and (max-width: 480px) {
    .query-head {
        position: relative;
        width: 100%;
        height: 49px;
        left: 0;
        top: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .query-search {
        position: relative;
        font-size: 13px;
        width: 70%;
        height: 80%;
        top: 10px;
        left: 40px;
    }
    .query {
        position: relative;
        font-size: 13px;
        width: 90%;
        left: 0;
        top: 0;
        overflow: none;
    }
    .query-reply {
        position: relative;
        font-size: 13px;
        width: 90%;
        left: 0;
        top: 0;
    }
    .y-query {
        position: relative;
        left: 119px;
        top: -6px;
        font-size: 21px;
        text-align: center;
    }
    .timestamp {
        font-size: 12px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    #q-time {
        left: 5px;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    #r-time {
        left: -30px;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        float: right;
        width: 107px;
    }
}

@media (min-width: 481px) and (max-width: 780px) {
    .query-head {
        width: 90%;
        height: 49px;
        top: 0;
        left: 40px;
        right: 0;
        bottom: 0;
        margin: auto;
        display: inline-block;
        vertical-align: middle;
    }
    .y-query {
        font-size: 30px;
        top: 0;
        left: 0px;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .query-search {
        width: 50%;
        height: 4%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 350px;
        margin: auto;
    }
    .query {
        top: 49px;
        left: 22px;
        right: 0;
        bottom: 0;
        width: 90%;
        font-size: 20px;
    }
    .query-reply {
        top: 49px;
        left: 22px;
        right: 0;
        bottom: 0;
        width: 90%;
        font-size: 20px;
    }
    .timestamp {
        font-size: 18px;
    }
    #q-time {
        top: 50px;
        right: 0;
        bottom: 0;
        left: -268px;
        margin: auto;
    }
    #r-time {
        top: 50px;
        right: 0;
        bottom: 0;
        left: 245px;
        margin: auto;
    }
}

@media (min-width: 781px) and (max-width: 1024px) {
    .query-head {
        width: 60%;
        height: 49px;
        top: 22px;
        left: 200px;
        right: 0;
        bottom: 0;
        margin: auto;
        display: inline-block;
        vertical-align: middle;
    }
    .y-query {
        font-size: 30px;
        top: 0;
        left: 0px;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
    }
    .query-search {
        width: 30%;
        height: 4%;
        top: 111px;
        left: 0;
        right: 0;
        bottom: 350px;
        margin: auto;
    }
    .query {
        top: 65px;
        left: 212px;
        right: 0;
        bottom: 0;
        width: 55%;
        font-size: 20px;
    }
    .query-reply {
        top: 65px;
        left: 212px;
        right: 0;
        bottom: 0;
        width: 55%;
        font-size: 20px;
    }
    .timestamp {
        font-size: 15px;
    }
    #q-time {
        top: 65px;
        right: 0;
        bottom: 0;
        left: -207px;
        margin: auto;
    }
    #r-time {
        top: 65px;
        right: 0;
        bottom: 0;
        left: 209px;
        margin: auto;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .query-head {
        left: 287px;
    }
    .query-search {
        left: 587px;
    }
    .query{
        left: 325px;
    }
    .query-reply {
        left: 325px;
    }
    .timestamp {
        font-size: 18px;
    }
    #q-time {
        top: 84px;
        right: 0;
        bottom: 0;
        left: -301px;
        margin: auto;
    }
    #r-time {
        top: 84px;
        right: 0;
        bottom: 0;
        left: 279px;
        margin: auto;
    }

}